<div>
	<!-- NAV BAR -->
	<div class="navbar-fixed">
		<nav>
		 	<div class="nav-wrapper container">
		 		<ul>
		    		<li><a data-activates="slide-out" class="showsidenav"><i class="material-icons">reorder</i></a></li>
		    	</ul>
		    	<ul class="right">
		    		<a ng-click="redirect('/admin/view-pending')">Pending Users<span class="new badge">3</span></a> <!-- to be worked on -->
		    	</ul>
				<!-- SIDE NAV  -->
				<div id="slide-out" class="side-nav center">
					<div class = "center">
						<a class="waves-effect waves-teal btn-flat blue-text text-lighten-2" ng-click="redirect('/admin')">Home</a>
					</div>
					<div class = "center">
						<a class="waves-effect waves-teal btn-flat blue-text text-lighten-2" ng-click="redirect('/admin/view-pending')" >View Pending Users</a>
					</div>
					<div class = "center">
						<a class="waves-effect waves-teal btn-flat blue-text text-lighten-2" ng-click="redirect('/admin/view-logs')">View Logs</a>
					</div>
					<div class = "center">
						<a class="waves-effect waves-teal btn-flat blue-text text-lighten-2" ng-click="redirect('/admin/view-approved')">View Approved Users</a>
					</div>
					<div class = "center">
						<a ng-click="Logout()" id="logout-button" class="waves-effect waves-teal btn-flat blue-text text-lighten-2">Log Out</a>
					</div>
				</div>
		    </div>
		</nav>
	</div>
	<!--<img src="img/stripes2.jpg" />-->

	<main>
		<div class="container center">
			<h1>Welcome, Admin</h1>
		</div>
	</main>

	<script>
	$('.showsidenav').sideNav({
		menuWidth: 350, // Default is 240
	});
	$(document).ready(function(){
		$('ul.tabs').tabs();
	});
	</script>
</div>
<link type="text/css" rel="stylesheet" href="../assets/stylesheets/admin.css">
