<div>
	<!-- NAV BAR -->
	<div class="navbar-fixed">
		<nav>
		 	<div class="nav-wrapper container">
		 		<ul>
		    		<li><a href="#" data-activates="slide-out" class="showsidenav"><i class="material-icons">reorder</i></a></li>
		    	</ul>
		    	<ul class="right">
		    		<a href"/admin_approve">Pending Users<span class="new badge">3</span></a> <!-- to be worked on -->
		    	</ul>
	    		<!-- SIDE NAV  -->
				<div id="slide-out" class="side-nav center">
					<div class = "center">
						<a href="/admin" class="waves-effect waves-teal btn-flat blue-text text-lighten-2">Home</a>
					</div>
					<div class = "center">
						<a href="/admin_approve" class="waves-effect waves-teal btn-flat blue-text text-lighten-2">View Pending Users</a>
					</div>
					<div class = "center">
						<a href="/admin_viewusers" class="waves-effect waves-teal btn-flat blue-text text-lighten-2">View Approved Users</a>
					</div>
					<div class = "center">
						<a href="/admin_viewlogs" class="waves-effect waves-teal btn-flat blue-text text-lighten-2">View Logs</a>
					</div>
					<div class = "center">
						<a ng-click="Logout()" id="logout-button" class="waves-effect waves-teal btn-flat blue-text text-lighten-2">Log Out</a>
					</div>
				</div>
		    </div>
		</nav>
	</div>
	<div class="container">
		<table data-ng-init="GetAllApproved()" ng-table="usersTable" show-filter="true" id="admintable" class="highlight responsive-table bordered centered stripped">
			<thead>
				<tr>
					<th>
						<a ng-click="order('given_name')" class="waves-effect waves-light btn tooltipped" data-position="top" data-delay="50" data-tooltip="Sort by first name.">First Name
						</a>							
					</th>
					<th>
						<a ng-click="order('last_name')" class="waves-effect waves-light btn tooltipped" data-position="top" data-delay="50" data-tooltip="Sort by last name.">Last Name
						</a>	
					</th>
					<th>
						<a ng-click="order('username')" class="waves-effect waves-light btn tooltipped" data-position="top" data-delay="50" data-tooltip="Sort by username.">Username
						</a>
					</th>
					<th>
						<a ng-click="order('employee_id')" class="waves-effect waves-light btn tooltipped" data-position="top" data-delay="50" data-tooltip="Sort by employee ID.">Employee ID
						</a>
					</th>
					<th>
						<a ng-click="order('classification')" class="waves-effect waves-light btn tooltipped" data-position="top" data-delay="50" data-tooltip="Sort by classification.">Classification
						</a>
					</th>
					<th>
						<a ng-click="order('date_signed_up')" class="waves-effect waves-light btn tooltipped" data-position="top" data-delay="50" data-tooltip="Sort by sign up date.">Sign Up Date
						</a>
					</th>
					<th>
						<a ng-click="order('date_approved')" class="waves-effect waves-light btn tooltipped" data-position="top" data-delay="50" data-tooltip="Sort by approval date.">Approval Date
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				 <tr ng-repeat="user in userList | orderBy:predicate:reverse">
			       <td data-title="given_name" >
			           {{user.given_name}}
			       </td>
			       <td data-title="last_name" >
			           {{user.last_name}}
			       </td>
			       <td data-title="username" >
			           {{user.username}}
			       </td>
			       <td data-title="employee_id" >
			           {{user.employee_id}}
			       </td>
			       <td data-title="classification">
			           {{user.classification}}
			       </td>
			       <td data-title="date_signed_up" >
			           {{user.date_signed_up}}
			       </td>
			       <td data-title="date_approved" >
			           {{user.date_approved}}
			       </td>
			   </tr>
			</tbody>
		</table>
	</div>
</div>
<link type="text/css" rel="stylesheet" href="../assets/stylesheets/admin_tables.css">
