<div>
	<!-- NAV BAR -->
	<div class="navbar-fixed">
		<nav>
		 	<div class="nav-wrapper container">
		 		<ul>
		    		<li><a data-activates="slide-out" class="showsidenav"><i class="material-icons">reorder</i></a></li>
		    	</ul>
		    	<ul class="right">
		    		<a ng-click="redirect('/admin/view-pending')">Pending Users<span class="new badge">3</span></a> <!-- to be worked on -->
		    	</ul>

		    	<!-- REGINYZR LOGO -->
		    	<div class="center">
			 		<a ng-href="#/home" class="brand-logos"> <img id="logo" src="../assets/img/text2.png"></a>
				</div>

				<!-- SIDE NAV  -->
				<div id="slide-out" class="side-nav center">
					<div class = "center">
						<a class="waves-effect waves-teal btn-flat blue-text text-lighten-2" ng-click="redirect('/admin')">Home</a>
					</div>
					<div class = "center">
						<a class="waves-effect waves-teal btn-flat blue-text text-lighten-2" ng-click="redirect('/admin/view-pending')" >View Pending Users</a>
					</div>
					<div class = "center">
						<a class="waves-effect waves-teal btn-flat blue-text text-lighten-2" ng-click="redirect('/admin/view-logs')">View Logs</a>
					</div>
					<div class = "center">
						<a class="waves-effect waves-teal btn-flat blue-text text-lighten-2" ng-click="redirect('/admin/view-approved')">View Approved Users</a>
					</div>
					<div class = "center">
						<a ng-click="Logout()" id="logout-button" class="waves-effect waves-teal btn-flat blue-text text-lighten-2">Log Out</a>
					</div>
				</div>
		    </div>
		</nav>
	</div>
	<!--<img src="img/stripes2.jpg" />-->

	<main>
		<div class="container" id="details-container">
			<div class="row">
				<!-- DETAILS CONTAINER -->
				<div class="col s4 m4 l4 center" id="details-container-text">
					<h5>Hello, ADMIN</h5>
					<p>Welcome to the Administration page. In here, you will be able to see user logs and approve users. Feel free to navigate.</p>
					<div>
						 <ul class="collapsible popout" data-collapsible="accordion">
						    <li>
						      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
						      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
						    </li>
						    <li>
						      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
						      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
						    </li>
						    <li>
						      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
						      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
						    </li>
						  </ul>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script>
	$('.showsidenav').sideNav({
		menuWidth: 350, // Default is 240
	});
	$(document).ready(function(){
		$('ul.tabs').tabs();
	});
	</script>
</div>
<script type="text/javascript" src="../assets/js/admin.js"></script>
<link type="text/css" rel="stylesheet" href="../assets/stylesheets/admin.css">
