<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	 <!-- 
	 NAV BAR
	 	- will contain logo and name of site (center)
		- button (?) to toggle side navbar
	 -->
	<header>
		
		<!-- TOP NAV ? w/ logo -->
		<nav class="top-nav" id="user-navbar">
		  	<div id="navbar-contents">
					<a href="#" class="brand-logo">Logo</a>
		  	</div>
		</nav>
		<div>
			<a href="" data-activates="slide-out"><i class="mdi-navigation-menu"></i></a>
		</div>

		<!-- SIDE NAV -->
		<ul id="nav-bar">
			<li id="prof-pic"><img src=""></li>
			<li id="prof-name">Name</li>
			<li id="">more info</li>
			<!-- CLASSES??? -->
			<li id="log-out"><button>Log Out</button></li>
		</ul>
	</header>

	<div id="home-body">
		<div id="class-form">
			<div id="class-info">CMSC 128 AB</div>
			<form action="" method="POST">
				<input type="checkbox" name="lec-section"> AB
				<div id="lab-sections">
					<input type="checkbox" name="lab-section-1"> 1L
					<input type="checkbox" name="lab-section-2"> 2L
					<input type="checkbox" name="lab-section-3"> 3L
				</div>
				<div id="total-volunteers"></div>
			</form>
		</div>
	</div>

</body>
</html>