<div>
	<!-- NAV BAR -->
	<nav>
	 	<div class="nav-wrapper container">
			<!-- SIDE NAV BUTTON -->
			<ul>
				<li><a data-activates="slide-out" class="showsidenav"><i class="material-icons">reorder</i></a></li>
			</ul>

			<!-- SIDE NAV -->
			<div id="slide-out" class="side-nav center" ng-controller="CourseCtrl" data-ng-init="Get_Course()">
				<img id="sidenav-logo" src="../assets/img/logo-2.png">
				<!-- USER NAME -->
				<div ng-repeat="info in faculty_user_info">
					<h5 class="teal-text text-lighten-2">{{info.given_name}} {{info.middle_name}} {{info.last_name}}</h5>
				</div>
				<!-- LIST OF COURSES  -->
				<div ng-repeat="course in faculty_user_courses">
					<div ng-repeat="lecture in course.lecture">
						<a href="#/class" class="waves-effect waves-teal btn-flat blue-text text-lighten-2" ng-click="Get_Selected_Lecture(course.id, course.code, course.title, course.description, lecture.name)">{{course.code}} {{lecture.name}}</a></li>
					</div>
				</div>
				<!-- LOG OUT BUTTON -->
				<div class = "center">
					<a ng-click="Logout()" ng-controller="HomeCtrl" onclick="$('showsidenav').sideNav('hide');" id="logout-button" class="waves-effect waves-teal btn-flat blue-text text-lighten-2">Log Out</a>
				</div>
			</div>

			<!-- REGINYZR LOGO -->
	 		<ul id="nav-mobile">
	    		<li><a ng-click="redirect('/home')" class="brand-logos"><img id="logo" src="../assets/img/text2.png"></a></li>
	    	</ul>
	    	<ul id="add-button-nav">
	    		<div class="input-field">
					<a href="#addLab-modal" class="waves-effect waves-light btn-large grey white-text modal-trigger" title="Add Section">Add a Section 		
					</a>
				</div>
	    	</ul>
	  </div>
	</nav>

	<!-- MAIN BODY -->
	<main ng-controller="SectionCtrl">
		<div class="container" id="main-container">
			<div class="container">
				<div class="center">
					<!-- LAB SECTIONS -->
					<div class="row"  data-ng-init="Get_Lab_Sections()">
						<div class="col s12" style="padding: 0;">
							<ul class="tabs " style="overflow-x: hidden;">
								<li id="lab-sections" class="tab col s3" ng-repeat="lab in lab_sections_info">
									<a ng-click="Get_Student_Per_Lab_Section(lab.section_code)" href="#first-table" class="teal-text text-darken-5">
										<!-- ADD STUDENT BUTTON -->
										<button class="btn btn-floating waves-effect waves-light modal-trigger" ng-click="Get_Section_Id(lab.course_code, lab.section_name, lab.section_code)"> <i class="material-icons">add</i></button>
										<!-- DELETE LAB BUTTON -->
										<button class="btn btn-floating waves-effect waves-light modal-trigger"> <i class="material-icons">delete</i></button>
										{{lab.course_code}} {{lab.section_name}} - {{lab.section_code}}</a>
								</li>
							</ul>
						</div>
					</div>
					
					<div id="table-container">
						<!-- STUDENTS' INFORMATION -->
						<div class="row"  id="first-table">
							<table class="highlight centered responsive-table white striped">
								<thead>
									<tr>
										<th ng-click="order_lab('student_number')" data-field="stdnumber">Student Number</th>
										<th ng-click="order_lab('given_name')" data-field="given_name"> Given Name</th>
										<th ng-click="order_lab('middle_name')" data-field="middle_name"> Middle Name</th>
										<th ng-click="order_lab('last_name')" data-field="last_name"> Last Name</th>
										<th ng-click="order_lab('degree')" data-field="degree">Degree</th>
										<th ng-click="order_lab('classification')" data-field="classification">Classification</th>
										<th ng-click="order_lab('college')" data-field="college">College</th>
										<th data-field="action">Action</th>
									</tr>
								</thead>

								<tbody ng-repeat="lab_student in student_per_lab">
									<tr>
										<td>{{lab_student.student_number}}</td>
										<td>{{lab_student.given_name}}</td>
										<td>{{lab_student.middle_name}}</td>
										<td>{{lab_student.last_name}}</td>
										<td>{{lab_student.degree}}</td>
										<td>{{lab_student.classification}}</td>
										<td>{{lab_student.college}}</td>
										<td>
											<a class="btn btn-floating waves-effect waves-light modal-trigger" ng-click="Get_Student_Id(lab_student.id, 'delete')"> <i class="material-icons">not_interested</i> </a>
											<a class="btn btn-floating waves-effect waves-light modal-trigger" ng-click="Get_Student_Id(lab_student.id, 'edit')"> <i class="material-icons">mode_edit</i> </a>
										</td>
									</tr>
								</tbody>
				      		</table>
						</div>
					</div>

				</div>
			</div>

			<!-- MODALS -->
			<!-- ADD LAB MODAL  -->
			<div id="addLab-modal" class="modal">
				<div class="modal-content center">
					<h4>Add Section</h4>
					<form ng-submit="Add_Lab_Section()" autocomplete="off">
						<div class="row">
							<!-- SECTION NAME -->
							<div class="col s6 m12 l12">
								<div class="input-field">
									<input placeholder="Section Name" type="text" id="lab-input" ng-model="newSection.code" ng-change="check_lab_section_name()">
									<label for="lab-input" class="active">Section Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
								</div>
							</div>
						</div>
						<!-- ADD LAB SECTION BUTTON  -->
						<button id="submit-button" class="disabled btn waves-effect waves-light" type="submit">Add Lab Section</button>
					</form>
				</div>
			</div>

			<!-- ADD STUDENT IN LAB MODAL -->
			<div id="add-modal" class="modal">
	    	<div class="modal-content center">
  			<h4>Add a Student</h4>
  			<form ng-submit="Add_Student_In_Lab_Section()" autocomplete="off">
    			<div class="row">
      			<div class="input-field">
							<!-- GIVEN NAME -->
							<div class="col s12 m12 l4">
          			<input placeholder="Given Name" type="text" id="fname-input"  required="required" pattern="[A-Za-z\.\-\s]*[A-Za-z\.\-\s]+" ng-model="newLabStudent.given_name" ng-keyup="check_given_name_change_add()">
          			<label for="fname-input">Name</label>
        			</div>
							<!-- MIDDLE NAME -->
        			<div class="col s12 m12 l4">
          			<input placeholder="Middle Name" type="text" id="mname-input"  required="required" pattern="[A-Za-z\.\-\s]*[A-Za-z\.]+" ng-model="newLabStudent.middle_name" ng-keyup="check_middle_name_change_add()">
        			</div>
							<!-- LAST NAME -->
        			<div class="col s12 m12 l4">
          			<input placeholder="Last Name" type="text" id="lname-input"required="required" pattern="[A-Za-z\.\-\s]*[A-Za-z\.]+" ng-model="newLabStudent.last_name" ng-keyup="check_last_name_change_add()">
        			</div>
      			</div>
    			</div>
    			<div class="row">
      			<div class="col s6 m12 l6">
							<!-- STUDENT NUMBER  -->
							<div class="input-field">
          			<input placeholder="Student Number" type="text" id="stdnuminput" ng-model="newLabStudent.student_number" ng-keyup="check_student_number_change_add()">
          			<label for="nameinput" class="active">Student Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        			</div>
      			</div>
      			<div class="col s6 m12 l6">
							<!-- DEGREE -->
							<div class="input-field">
          			<input id="degree-input" placeholder="Degree" type="text" ng-model="newLabStudent.degree" ng-keyup="check_degree_change_add()">
          			<label class="active">Degree&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        			</div>
      			</div>
    			</div>
    			<div class="row">
            <div class="col s12 m6 l6">
							<!-- COLLEGE -->
	        		<div class="input-field">
	          		<select id="college-input" class="input-field" ng-model="newLabStudent.college" ng-change="check_college_change_add()">
									<option value="" disabled selected>College</option>
									<option value="CA">CA</option>
									<option value="CAS">CAS</option>
									<option value="CEAT">CEAT</option>
									<option value="CFNR">CFNR</option>
									<option value="CHE">CHE</option>
									<option value="CEM">CEM</option>
									<option value="CDC">CDC</option>
									<option value="CVM">CVM</option>
								</select>
	        		</div>
      			</div>
      			<div class="col s12 m6 l6">
							<!-- CLASSIFICATION -->
	        		<div>
	    		  		<select id="classification-input" class="input-field" ng-model="newLabStudent.classification" ng-change="check_classification_change_add()">
		      			 <option value="" disabled selected>Classification</option>
		      			 <option value="Freshman">Freshman</option>
		      			 <option value="Sophomore">Sophomore</option>
		      			 <option value="Junior">Junior</option>
		      			 <option value="Senior">Senior</option>
	    		  		</select>
	        		</div>
      			</div>
    			</div>
					<!-- ADD STUDENT BUTTON -->
      		<button id="submit-button-add" class="btn waves-effect waves-light disabled" type="submit">Add Student</button>
  			</form>
			</div>
		</div>

		<!-- MODALS -->

		<!-- DELETE STUDENT MODAL -->
		<div id="delete-modal" class="modal">
	    <div class="modal-content">
	    	<h4>DELETE STUDENT</h4>
	    	<p>Are you sure you want to delete this student?</p>
	    </div>
	    <div class="modal-footer">
				<!-- CANCEL BUTTON -->
	      <a class="modal-action modal-close waves-effect waves-green btn btn-default">Cancel</a>
				<!-- DELETE STUDENT BUTTON -->
	      <a ng-click="Delete_Selected_Student()" class="waves-effect waves-green red lighten-1 btn btn-default modal-close">Delete Student</a>
	    </div>
		</div>

		<!-- DELETE LAB MODAL -->
		<div id="delete-lab-modal" class="modal">
			<div class="modal-content">
				<h4>DELETE SECTION</h4>
				<p>Are you sure you want to delete this section?</p>
			</div>
			<div class="modal-footer">
				<!-- CANCEL BUTTON -->
				<a class="modal-action modal-close waves-effect waves-green btn btn-default">Cancel</a>
				<!-- DELETE STUDENT BUTTON -->
				<a ng-click="Delete_Selected_Lab()" class="waves-effect waves-green red lighten-1 btn btn-default modal-close">Delete Section</a>
			</div>
		</div>

		<!-- EDIT STUDENT MODAL -->
		<div id="edit-modal" class="modal">
			<div id="edit-modal-content" class="modal-content">
  			<h4>EDIT A STUDENT</h4>
				<form ng-submit="Update_Student_Info()" autocomplete="off">
					<div ng-repeat="student in to_edit_student" class="past-data">
	    			<div class="row">
							<!-- GIVEN NAME -->
	    				<div class="input-field col s4">
			    			<input id="student-firstname" type="text" class="validate" value="{{student.given_name}}" ng-keyup="check_given_name_change_edit()">
								<label for="student-firstname" class="active"> Given Name </label>
							</div>
							<!-- MIDDLE NAME -->
							<div class="input-field col s4">
		    				<input id="student-middlename" type="text" class="validate" value="{{student.middle_name}}" ng-keyup="check_middle_name_change_edit()">
								<label for="student-middlename" class="active"> Middle Name </label>
							</div>
							<!-- LAST NAME -->
							<div class="input-field col s4">
		    				<input id="student-lastname" type="text" class="validate" value="{{student.last_name}}" ng-keyup="check_last_name_change_edit()">
								<label for="student-lastname" class="active"> Last Name </label>
							</div>
	    			</div>

	    			<div class="row">
							<!-- DEGREE -->
	    				<div class="input-field col s4">
		    				<input id="student-degree" type="text" class="validate" value="{{student.degree}}" ng-keyup="check_degree_change_edit()">
								<label for="student-degree" class="active"> Degree </label>
							</div>
							<!-- CLASSIFICATION -->
							<div class="input-field col s4">
			    			<input id="student-classification" type="text" class="validate" value="{{student.classification}}" ng-keyup="check_classification_change_edit()">
								<label for="student-classification" class="active"> Classification </label>
							</div>
							<!-- COLLEGE -->
							<div class="input-field col s4">
		    				<input id="student-college" type="text" class="validate" value="{{student.college}}" ng-keyup="check_college_change_edit()">
								<label for="student-college" class="active"> College </label>
							</div>
	    			</div>
					</div>
					<!-- EDIT STUDENT BUTTON -->
	      	<button id="submit-button" type="submit" class="right modal-action modal-close waves-effect waves-green btn btn-default">Save Student</button>
				</form>
			</div>
		</div>
	 </div>
	</main>
</div>
<link type="text/css" rel="stylesheet" href="../assets/stylesheets/edit.css">

<!-- SCRIPTS -->
<script>
	$(document).ready(function(){
		$('#edit-modal').on('hidden.bs.modal', function () {});
		$('ul.tabs').tabs();
		$('.modal-trigger').leanModal();
		$('select').material_select();
		$('.showsidenav').sideNav();

		function load_table(){
			$("#lab-sections").children(":first").trigger("click");
		};
		setTimeout(load_table, 100);
	});
</script>
