<div>
	<!-- NAV BAR -->
	<div class="navbar-fixed">
		<nav>
		 	<div class="nav-wrapper container">

				<div class="center">
			 		<a href="javascript:history.back()" class="brand-logos"> <img id="logo" src="../assets/img/text2.png"></a>
			    </div>

	    		<!-- SIDE NAV  -->
		    </div>
		</nav>
	</div>

		<main class="no-margin">
			<div id="page-not-found" class="container">
				<div id="content">
					 <img class="js-randomimage" src="#" alt="">
					<h3>Oops! This page doesn't exist.</h3>
					<p class="center"><a href="javascript:history.back()"><button class="btn waves-effect waves-light">get back to charted land</button></a></p>
				</div>
			</div>
		</main>
		
	    <script type="text/javascript" src="../assets/js/error_404.js"></script>

		<script src="../assets/js/highcharts.js"></script>

		<script type="text/javascript">
		  $('.js-randomimage').chickenDinner({
		      path: '../assets/img/notfound/',
		      fadeInTime:500,
		      TheImages: ['n1.gif', 'n2.gif', 'n3.gif', 'n4.gif' ]
		  });
		</script>
</div>
<link type="text/css" rel="stylesheet" href="../assets/stylesheets/error_404.css">
