<div>
	<div data-ng-init="Get_User()">

	<!-- NAV BAR -->
	<div class="navbar">
		<nav>
		 	<div class="nav-wrapper container">

		 		<ul>
		    		<li><a href="#" data-activates="slide-out" class="showsidenav"><i class="material-icons">reorder</i></a></li>
		    	</ul>

				<div class="center">
			 		<a href="/" class="brand-logos"> <img id="logo" src="../assets/img/text2.png"></a>
			    </div>

	    		<!-- SIDE NAV  -->
				<div id="slide-out" class="side-nav center" data-ng-init="Get_Course()">
					<img id="sidenav-logo" src="../assets/img/logo-2.png">
						<div ng-repeat="info in faculty_user_info">
							<h5 class="teal-text text-lighten-2">{{info.given_name}} {{info.middle_name}} {{info.last_name}}</h5>
						</div>
						<div ng-repeat="course in faculty_user_courses">
							<div ng-repeat="lecture in course.lecture">
								<a href="/class" class="waves-effect waves-teal btn-flat blue-text text-lighten-2" ng-click="Get_Selected_Course(course.id, course.code, course.title, course.description, lecture.name)">{{course.code}} {{lecture.name}}</a></li>
							</div>
						</div>
						<div class="center" ng-controller="HomeCtrl">
							<a ng-click="Logout()" id="logout-button" class="waves-effect waves-teal btn-flat blue-text text-lighten-2">Log Out</a>
						</div>
				</div>
		    </div>
		</nav>
	</div>

		<main>
			<div class="container col s12 m12" style="padding-top: 3%;">
			<!--TABS-->
				<div class="row">
					<div>
						<ul class="tabs">
							<li class="tab"><a href="#profile" class="black-text waves-effect waves-custom">Profile</a></li>
							<li class="tab"><a href="#classes" class="black-text waves-effect waves-custom" ng-click="Get_Course()">Classes</a></li>
							<li class="tab"><a href="#settings" class="black-text waves-effect waves-custom">Settings</a></li>
						</ul>
					</div>
					<!--PROFILE-->
					<div id="profile">
						<div class="row">
							<div class="col s12">
								<div class="card-panel custom lighten-1 center">
									<span>
										<div ng-repeat="info in faculty_user_info">
											<h3><i class="material-icons">account_circle</i> {{info.given_name}} {{info.middle_name}} {{info.last_name}}</h3>
												<h5>Classification: {{info.classification}}</h5>
												<h5>Employee ID: {{info.employee_id}}</h5>
												<h5>Username: {{info.username}}</h5>
										</div>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!--CLASSES-->
					<div id="classes">
						<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
					    <a title="Add Course" class="btn-floating btn-large white modal-trigger" id="addButton">
					      <i class="material-icons custom-text text-darken-1">add</i>
					    </a>
					  </div>
						<div class="row">
							<div ng-repeat="course in faculty_user_courses">
								<div class="col s12 m4">
								  <div class="card-panel custom lighten-1">
								    <div class="center">
											<a title="Delete Course" class="btn-floating btn-large waves-effect waves-light white" ng-click="Delete_Course(course.id)">
												<i class="material-icons custom-text text-darken-1">delete</i>
											</a>
											<a title="Update Course Details" class="btn-floating btn-large waves-effect waves-light white modal-trigger" ng-click="openModal(course.id)">
												<i class="material-icons custom-text text-darken-1">mode_edit</i>
											</a>
											<a title="Add Lecture Class" class="btn-floating btn-large waves-effect waves-light white" ng-click="">
												<i class="material-icons custom-text text-darken-1">add</i>
											</a>
											<h5>{{course.code}}</h5>
								    </div>
										<ul class="collapsible popout" data-collapsible="expandable" >
											<li ng-repeat="lecture in course.lecture">
												<div class="collapsible-header" ng-click="Get_Selected_Course(course.id, course.code, course.title, course.description, lecture.name)"><i class="material-icons custom-text text-darken-1" >star_rate</i>{{lecture.name}}</div>
												<!-- <div class="collapsible-body custom darken-1 white-text"><p>Lorem ipsum dolor sit amet.</p></div> -->
											</li>
										</ul>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!--MODALS-->
					<div id="addModal" class="modal">
				    <div class="modal-content">
				      <h5>Add Course</h5>
							<form ng-submit="Add_Course()" autocomplete="off">
								<div class="row">
						      <div class="input-field">
						        <div class="col s12 m12 l12">
											<input placeholder="Course Code" type="text" id="code-input" ng-keyup="check_course_code_add()" ng-model="newCourse.course_code" required="required">
											<label for="course-code-input" class="active" data-error="Course Code Already Exits!">Course Code&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
										</div>
						      </div>
						    </div>
								<div class="row">
						      <div class="input-field">
						        <div class="col s12 m12 l12">
						          <input placeholder="Course Title" type="text" id="title-input" ng-keyup="check_course_code_add()" ng-model="newCourse.course_title" required="required">
						        </div>
						      </div>
						    </div>
								<div class="row">
						      <div class="input-field">
						        <div class="col s12 m12 l12">
											<textarea id="desc-input" class="materialize-textarea custom-text text-darken-1" ng-keyup="check_course_code_add()" ng-model="newCourse.course_description"></textarea>
											<label for="desc-input">Course Description</label>
										</div>
						      </div>
						    </div>
								<div class="modal-footer">
									<button id="submit-button-add" class="btn waves-effect waves-light" type="submit" disabled>Add Course</button>
								</div>
							</form>
				    </div>
				  </div>
					<div id="editModal" class="modal">
				    <div class="modal-content">
				      <h5>Edit Course</h5>
							<form ng-submit="Edit_Course()" autocomplete="off">
								<div class="row">
						      <div class="input-field">
						        <div class="col s12 m12 l12">
						          <input placeholder="New Course Code" type="text" ng-keyup="check_course_code_edit()" id="new-code-input" ng-model="course.course_code" required="required">
											<label for="course-code-input" class="active" data-error="Course Code Already Exits!">Course Code&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
										</div>
						      </div>
						    </div>
								<div class="row">
						      <div class="input-field">
						        <div class="col s12 m12 l12">
						          <input placeholder="New Course Title" type="text" ng-keyup="check_course_code_edit()" id="new-title-input" ng-model="course.course_title" required="required">
						        </div>
						      </div>
						    </div>
								<div class="row">
						      <div class="input-field">
						        <div class="col s12 m12 l12">
											<textarea id="new-desc-input" ng-keyup="check_course_code_edit()" class="materialize-textarea" ng-model="course.course_description"></textarea>
											<label for="new-desc-input">Course Description</label>
										</div>
						      </div>
						    </div>
								<div class="modal-footer">
									<button id="submit-button-edit" class="btn waves-effect waves-light" type="submit" disabled>Edit Course</button>
								</div>
							</form>
				    </div>
				  </div>
					<!--SETTINGS-->
					<div id="settings">
						<div class="row">
							<div class="col s12">
								<div class="card-panel custom lighten-1">
									<h5 style="float:left; width:80%;"><i class="material-icons left">mode_edit</i>Edit Information</h5>
									<form autocomplete="off">
									<br><br>
									<button class="row btn waves-effect waves-teal" ng-click="Update_Details()"><i class="material-icons right">done</i>Save</button>
									<div ng-repeat="info in faculty_user_info">
										<div class="row">
											<div class="input-field">
												<div class="col s12 m12 l4">
													<input placeholder="First Name" type="text" name="user-fname" id="fname-input" value="{{info.given_name}}" pattern="[A-Za-z\.\-\s]*[A-Za-z\.\-\s]+" ng-keyup="check_gname_changes()"/>
													<label for="fname-input" class="active black-text"><i class="black-text material-icons left">info</i>Name</label>
												</div>
												<div class="col s12 m12 l4">
													<input placeholder="Middle Name" type="text" name="user-mname" id="mname-input" value="{{info.middle_name}}" pattern="[A-Za-z\.\-\s]*[A-Za-z\.\-\s]+" ng-keyup="check_mname_changes()"/>
												</div>
												<div class="col s12 m12 l4">
													<input placeholder="Last Name" type="text" name="user-lname" id="lname-input" value="{{info.last_name}}" pattern="[A-Za-z\.\-\s]*[A-Za-z\.\-\s]+" ng-keyup="check_lname_changes()"/>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col s12 m6 l4">
												<div class="input-field">
													<input placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" type="password" name="user-password" id="password-input" ng-keyup="check_password_changes()"/>
													<label id="pwd-input-label" for="password-input" class="black-text" data-error="Passwords do not match!"><i class="material-icons left">vpn_key</i>Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
												</div>
											</div>
											<div class="col s12 m6 l4">
												<div class="input-field">
													<input type="password" name="confirm-password" id="confirm-password" id="confirm-password" ng-keyup="check_confirm_password()" disabled/>
													<label id="cpwd-label" for="password-input" class="black-text" data-error="Passwords do not match!">Confirm Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
												</div>
											</div>
											<div class="col s12 m12 l4">
												<div class="input-field">
													<select id="classification-input" ng-model="selectd.repeatSelect" ng-change="check_classification()">
														<option value="{{info.classification}}" selected="selected">{{info.classification}}</option>
														<option ng-repeat="option in selectd.options" value="{{option.id}}">{{option.name}}</option>
													</select>
													<label for="classification-input" class="black-text"><i class="material-icons left">perm_identity</i>Classification</label>
												</div>
											</div>
										</div>
									 </div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>
<script type="text/javascript" src="../assets/js/home.js"></script>
<link type="text/css" rel="stylesheet" href="../assets/stylesheets/home.css">
