<div>
	<div ng-controller="CourseCtrl" data-ng-init="Get_User()">
	<!-- NAV BAR -->
	<div class="navbar">
		<nav>
		 <div class="nav-wrapper container">
			<!-- SIDE NAV BUTTON -->
		 	<ul>
		    <li><a data-activates="slide-out" class="showsidenav"><i class="material-icons">reorder</i></a></li>
		  </ul>

			<!-- REGINYZR LOGO -->
			<div class="center">
			 	<a ng-click="redirect('/home')" class="brand-logos"> <img id="logo" src="../assets/img/text2.png"></a>
			</div>

	    <!-- SIDE NAV  -->
			<div id="slide-out" class="side-nav center" data-ng-init="Get_Course()">
				<img id="sidenav-logo" src="../assets/img/logo-2.png">
					<!-- USER NAME -->
					<div ng-repeat="info in faculty_user_info">
						<h5 class="teal-text text-lighten-2">{{info.given_name}} {{info.middle_name}} {{info.last_name}}</h5>
					</div>
					<!-- LIST OF CLASSES -->
					<div ng-repeat="course in faculty_user_courses">
						<div ng-repeat="lecture in course.lecture">
							<a ng-href="#/class" class="waves-effect waves-teal btn-flat blue-text text-lighten-2" ng-click="Get_Selected_Lecture(course.id, course.code, course.title, course.description, lecture.name)">{{course.code}} {{lecture.name}}</a></li>
						</div>
					</div>
					<!-- <div class="center">
						<a ng-click="redirect('/logs')" class="waves-effect waves-teal btn-flat blue-text text-lighten-2">Logs</a>
					</div> -->
					<!-- LOG OUT BUTTON -->
					<div class="center" ng-controller="HomeCtrl">
						<a ng-click="Logout()" onclick="$('.showsidenav').sideNav('hide');" id="logout-button" class="waves-effect waves-teal btn-flat blue-text text-lighten-2">Log Out</a>
					</div>
				</div>
		  </div>
		</nav>
	</div>
	<!-- END OF NAV BAR -->
	<!-- START OF MAIN -->
	<main>
		<div class="container col s12 m12" style="padding-top: 3%;">
			<div class="row" id="home-content">
				<!--TABS-->
				<div>
					<ul class="tabs">
						<li class="tab"><a href="#profile" class="black-text waves-effect waves-custom">Profile</a></li>
						<li class="tab"><a href="#classes" class="black-text waves-effect waves-custom" ng-click="Get_Course()">Classes</a></li>
						<li class="tab"><a href="#settings" class="black-text waves-effect waves-custom" onclick="$('select').material_select()">Settings</a></li>
					</ul>
				</div>

				<!--PROFILE-->
				<div id="profile">
					<div class="row">
						<div class="col s12">
							<div class="card-panel custom lighten-1 center">
								<span>
									<div ng-repeat="info in faculty_user_info">
										<!-- USER INFO -->
										<h3><i class="material-icons">account_circle</i> {{info.given_name}} {{info.middle_name}} {{info.last_name}}</h3>
											<h5>Classification: {{info.classification}}</h5>
											<h5>Employee ID: {{info.employee_id}}</h5>
											<h5>Username: {{info.username}}</h5>
									</div>
								</span>
							</div>
						</div>
					</div>
				</div>

				<!--CLASSES-->
				<div id="classes">
					<!-- ADD COURSE -->
					<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
					  <a title="Add Course" class="btn-floating btn-large white modal-trigger" id="addButton">
					    <i class="material-icons custom-text text-darken-1">add</i>
					  </a>
					</div>
					<!-- LIST OF COURSES -->
					<div class="row">
						<div ng-repeat="course in faculty_user_courses">
							<div class="col s12 m4">
								<div class="card-panel custom lighten-1">
								  <div class="center">
										<!-- ADD LECTURE SECTION -->
										<a title="Add Lecture Class" class="btn-floating btn-large waves-effect waves-light white" ng-click="Get_Selected_Course(course.id)"><i class="material-icons custom-text text-darken-1">add</i></a>

										<!-- UPDATE COURSE BUTTON -->
										<a title="Update Course Details" class="btn-floating btn-large waves-effect waves-light white modal-trigger" ng-click="openModal(course)"><i class="material-icons custom-text text-darken-1">mode_edit</i></a>

										<!-- DELETE COURSE BUTTON -->
										<a title="Delete Course" class="btn-floating btn-large waves-effect waves-light white" ng-click="Delete_Course(course.id)"><i class="material-icons custom-text text-darken-1">delete</i></a>
										<!-- COURSE NAME -->
										<h5>{{course.code}}</h5>
								  </div>
									<!-- LIST OF LECTURE SECTIONS -->
									<ul class="collapsible popout" data-collapsible="expandable" >
										<li ng-repeat="lecture in course.lecture">
											<div class="collapsible-header" ng-click="Get_Selected_Lecture(course.id, course.code, course.title, course.description, lecture.name)">
												<!-- LECTURE NAME -->
												<a ng-href="#/class"><i class="material-icons custom-text text-darken-1" >star_rate</i>{{lecture.name}}</a>
												<!-- DELETE LECTURE BUTTON -->
												<i class="material-icons custom-text text-darken-1 right" style="cursor:default" ng-click="Delete_Selected_Lecture(course.code, lecture.name)">clear</i>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- MODALS FOR CLASSES TAB -->

				<!-- ADD COURSE MODAL -->
				<div id="addModal" class="modal">
				  <div class="modal-content">
				    <h5>Add Course</h5>
						<form ng-submit="Add_Course()" autocomplete="off">
							<!-- COURSE CODE -->
							<div class="row">
						    <div class="input-field">
						      <div class="col s12 m12 l12">
										<input placeholder="Course Code" type="text" id="code-input" ng-keyup="check_course_code_add()" ng-model="newCourse.course_code" required="required" pattern="^[A-Za-z0-9\s]+$">
										<label id="ccodeAddLabel" for="course-code-input" class="active" data-error="Course Code Already Exists!">
											Course Code&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</label>
									</div>
						    </div>
						  </div>
							<!-- COURSE TITLE -->
							<div class="row">
						    <div class="input-field">
						      <div class="col s12 m12 l12">
						        <input placeholder="Course Title" type="text" id="title-input" ng-keyup="check_course_code_add()" ng-model="newCourse.course_title" required="required" pattern="^[A-Za-z0-9\s]+$">
						        <label for="title-input" data-error="Invalid Course Title format!">
						        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						        </label>
						      </div>
						    </div>
						  </div>
							<!-- COURSE DESCRIPTION -->
							<div class="row">
						    <div class="input-field">
						      <div class="col s12 m12 l12">
										<textarea id="desc-input" class="materialize-textarea custom-text text-darken-1" ng-keyup="check_course_code_add()" ng-model="newCourse.course_description"></textarea>
										<label for="desc-input" data-error="Invalid Course Description format!">Course Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
									</div>
						    </div>
						  </div>
							<!-- ADD COURSE BUTTON -->
							<div class="modal-footer">
								<button id="submit-button-add" class="btn waves-effect waves-light disabled" type="submit" disabled>Add Course</button>
							</div>
						</form>
				  </div>
				</div>

				<!-- EDIT COURSE MODAL -->
				<div id="editModal" class="modal">
				  <div class="modal-content">
				    <h5>Edit Course</h5>
						<form ng-submit="Edit_Course()" autocomplete="off">
							<div class="row">
								<!-- COURSE CODE -->
								<div class="input-field">
								  <div class="col s12 m12 l12">
						        	<input placeholder="New Course Code" type="text" ng-keyup="check_course_code_edit()" id="new-code-input" name="new-code-input" ng-model="course.course_code" required="required" ng-change="check_course_code_changes()" pattern="^[A-Za-z0-9\s]+$">
						        	<label id="crs-input-label" for="new-code-input" class="black-text" data-error="Course Code already exists!">
						        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						        	</label> 
							  	   </div>
						        </div>
						     </div>
						   <div class="row">
							<!-- COURSE TITLE -->
						    <div class="input-field">
						      <div class="col s12 m12 l12">
						        <input placeholder="New Course Title" type="text" ng-keyup="check_course_code_edit()" id="new-title-input" name="new-title-input" ng-model="course.course_title" required="required" ng-change="check_course_title_changes()" pattern="^[A-Za-z0-9\s]+$">
						        <label id="crst-input-label" for="new-title-input" class="black-text" data-error="Invalid Course Title format!">
						        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						        </label> 
						      </div>
						    </div>
						  </div>

							<div class="row">
								<!-- COURSE DESCRIPTION -->
								<div class="input-field">
						      <div class="col s12 m12 l12">
										<textarea id="new-desc-input" ng-keyup="check_course_code_edit()" class="materialize-textarea" ng-model="course.course_description" ng-change="check_course_description_changes()"></textarea>
										<label id="crsd-input-label" for="new-desc-input" data-error="Invalid Course Description format!">Course Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
									</div>
						    </div>
						  </div>

							<!-- EDIT COURSE BUTTON  -->
							<div class="modal-footer">
								<button id="submit-button-edit" class="btn waves-effect waves-light" type="submit">Edit Course</button>
							</div>
						</form>
				  </div>
				</div>

				<!-- ADD LECTURE MODAL -->
				<div id="addLecture" class="modal">
				  <div class="modal-content">
				    <h5>Add Lecture Section</h5>
						<form ng-submit="Add_Lecture()" autocomplete="off">
							<div class="row">
								<!-- LECTURE SECTION NAME -->
						    <div class="input-field">
						      <div class="col s12 m12 l12">
										<input placeholder="Lecture Section Name" type="text" id="section-name-input" ng-keyup="check_section_name()" ng-model="newLecture.section_name" required="required">
										<label for="section-name-input" class="active" data-error="Lecture Section Already Exits!"> Lecture Section&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
									</div>
						    </div>
						  </div>

							<!-- ADD LECTURE BUTTON -->
							<div class="modal-footer">
								<button id="submit-button-add-lecture" class="btn waves-effect waves-light disabled" type="submit" disabled>Add Lecture</button>
							</div>
						</form>
				  </div>
				</div>

				<!-- SETTINGS -->
				<div id="settings">
					<div class="row">
						<div class="col s12">
							<div class="card-panel custom lighten-1">
								<h5 style="float:left; width:80%;"><i class="material-icons left">mode_edit</i>Edit Information</h5>
								<form autocomplete="off">
								<br><br>
								<!-- SAVE BUTTON -->
								<button class="row btn waves-effect waves-teal" ng-click="Update_Details()"><i class="material-icons right">done</i>Save</button>

								<div ng-repeat="info in faculty_user_info">
									<div class="row">
										<div class="input-field">
											<!-- GIVEN NAME -->
											<div class="col s12 m12 l4">
												<input placeholder="First Name" type="text" name="user-fname" id="fname-input" value="{{info.given_name}}" pattern="^[A-Za-z\-\s]+$" ng-keyup="check_gname_changes()"/>
												<label for="fname-input" class="active black-text"><i class="black-text material-icons left">info</i>Name</label>
											</div>
											<!-- MIDDLE NAME -->
											<div class="col s12 m12 l4">
												<input placeholder="Middle Name" type="text" name="user-mname" id="mname-input" value="{{info.middle_name}}" pattern="^[A-Za-z\-\s]+$" ng-keyup="check_mname_changes()"/>
											</div>
											<!-- LAST NAME -->
											<div class="col s12 m12 l4">
												<input placeholder="Last Name" type="text" name="user-lname" id="lname-input" value="{{info.last_name}}" pattern="^[A-Za-z\-\s]+$" ng-keyup="check_lname_changes()"/>
											</div>
										</div>
									</div>

									<div class="row">
										<!-- PASSWORD -->
										<div class="col s12 m6 l6">
											<div class="input-field">
												<input placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" type="password" name="user-password" id="password-input" ng-keyup="check_password_changes()"/>
												<label id="pwd-input-label" for="password-input" class="black-text" data-error="Passwords do not match!"><i class="material-icons left">vpn_key</i>Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
											</div>
										</div>
										<!-- CONFIRM PASSWORD -->
										<div class="col s12 m6 l6">
											<div class="input-field">
												<input type="password" name="confirm-password" id="confirm-password" id="confirm-password" ng-keyup="check_confirm_password()" disabled/>
												<label id="cpwd-label" for="password-input" class="black-text" data-error="Passwords do not match!"><i class="material-icons left">done_all</i>Confirm Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col s12 m6 l6">
											<!-- CLASSIFICATION -->
											<div class="input-field">
												<select id="classification-input">
													<option value="{{info.classification}}" ng-selected="true">{{info.classification}}</option>
													<option value="Instructor I">Instructor I</option>
													<option value="Instructor II">Instructor II</option>
													<option value="Instructor III">Instructor III</option>
													<option value="Instructor IV">Instructor IV</option>
													<option value="Instructor V">Instructor V</option>
													<option value="Instructor VI">Instructor VI</option>
													<option value="Assistant Professor I">Assistant Professor I</option>
													<option value="Assistant Professor II">Assistant Professor II</option>
													<option value="Assistant Professor III">Assistant Professor III</option>
													<option value="Assistant Professor IV">Assistant Professor IV</option>
													<option value="Assistant Professor V">Assistant Professor V</option>
													<option value="Assistant Professor VI">Assistant Professor VI</option>
													<option value="Professor I">Professor I</option>
													<option value="Professor II">Professor II</option>
													<option value="Professor III">Professor III</option>
													<option value="Professor IV">Professor IV</option>
													<option value="Professor V">Professor V</option>
													<option value="Professor VI">Professor VI</option>
												</select>
												<label for="classification-input" class="black-text"><i class="material-icons left">perm_identity</i>Classification</label>
											</div>
										</div>
										<!-- PROFILE COLOR -->
										<div class="col s12 m6 l6 container">
											<div class="input-field">
												<select id="cprofile-input" onchange="displayProfile()">
													<option id="selectdColour" value="{{info.design_setting}}" ng-selected="true">{{info.design_setting_name}}</option>
													<option value="default.css">Default</option>
													<option value="maroon.css">Maroon</option>
													<option value="grey.css">Grey</option>
													<option value="purple.css">Purple</option>
												</select>
												<label for="cprofile-input" class="black-text"><i class="material-icons left">dashboard</i>Colour Profile</label>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
 </main>
 <!-- END MAIN -->
 </div>
</div>

<!-- JAVASCRIPTS -->
<script type="text/javascript" src="../bower_components/Materialize/bin/materialize.js"></script>
<script type="text/javascript" src="../assets/js/home.js"></script>
<script type="text/javascript" src="../assets/js/default.js"></script>

<!-- CSS -->
<link type="text/css" rel="stylesheet" href="../assets/stylesheets/home.css">
