<!-- NAV BAR -->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper container">
            <a ng-href="#/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile">
            <!--	<li><div class="logo-img hide-on-small-and-down">
                    <a href="#">
                    <img id="nav-logo" src="img/logo-2.png">
                    </a></div></li>

            -->	<li><a ng-href="#/" class="brand-logos"><img id="logo" src="../assets/img/text2.png"></a></li>
            </ul>

            <ul id="nav-mobile" class="right hide-on-med-and-down nav-right">
                <li><a href="#loginModal" class="modal-trigger">Log In</a></li>
                <li><a href="#signupModal" class="modal-trigger">Create an Account</a></li>
            </ul>

            <!-- SIDE NAV (WHEN VIEWED IN SMALLER SCREENS) -->

            <ul id="mobile-demo" class="side-nav">
                <div class="logo-img-side"><a ng-href="#/">
                    <img id="logo-img-side" src="../assets/img/logo-2.png">
                </a></div>
                <li><a href="#loginModal" class="modal-trigger">Log In</a></li>
                <li><a href="#signupModal" class="modal-trigger">Create an Account</a></li>
            </ul>
        </div>
    </nav>
</div>





<main>
    <!-- INTRO -->
    <div id="brief-intro-container">
        <div id="brief-intro">
            <div class="container" id="content">
                <div class="row">
                    <div class="col s12 m12 l10"><img src="../assets/img/logo-2.png" id="intro-logo" class="animated flipInY"></div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l10">
                        <div class="center animated fadeIn">
                        <p id="logo-text">The best web application for a fun and interactive class discussion.</p>
                            <a href="#signupModal" class="modal-trigger waves-effect waves-light btn-large">Sign Up</a>
                            <a class="waves-effect waves-light btn-large" ng-click="redirect('/guest-trynow')">Try Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- MORE INFO: HOW DOES IT WORK -->
    <div id="more-info">
        <div class="container" id="content">
            <h4>HOW DOES IT WORK?</h4><br/><br/><br/>
            <div class="row">
                <div class="col s12 m4 l4">
                    <div class="center">
                        <i class="material-icons">add</i>
                        <p class="caption">Add a Class</p>
                        <p class="center light">You can either provide the information manually or upload a file.</p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="center">
                        <i class="material-icons">settings</i>
                        <p class="caption">Adjust the Settings</p>
                        <p class="center light">How many volunteers? Which lab sections? Choose the right settings for your class' needs.</p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="center">
                        <i class="material-icons">supervisor_account</i>
                        <p class="caption">Randomize!</p>
                        <p class="center light">And you're done! All you have to do is wait as we generate your volunteers for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- MORE INFO: WHY SIGN UP -->
    <div id="more-info-2">
        <div class="container" id="content">
            <h4>WHY SIGN UP?</h4> <br/> <br/>
            <!-- <h5 class="center">//Will fix layout, background, and images//</h5> -->
            <div class="row">
                <div class="reason col s12" id="reason-1">
                    <div class="col s12 m12 l6">
                        <img src="../assets/img/window1.png">
                    </div>
                    <div class="col s12 m12 l6" id="p1">
                        <h3>Save and access all your classes!</h3>
                        <p> Simplify your life by organizing your class! You can add, modify and remove classes and students with just a few clicks! </p>
                    </div>
                </div>
                <div class="reason col s12" id="reason-2">
                    <div class="col s12 m12 l6" id="p2">
                        <h3>More functionalities!</h3>
                        <p> Spice up your teaching with this feature! Introducing the Cheat Mode! You can now increase or decrease the chances of a certain student appearing in the randomizer! </p>
                    </div>
                    <div class="col s12 m12 l6">
                        <img src="../assets/img/window2.png">
                    </div>
                </div>
                <div class="reason col s12" id="reason-3">
                    <div class="col s12 m12 l6">
                        <img src="../assets/img/windows.png">
                    </div>
                    <div class="col s12 m12 l6" id="p3">
                        <h3>Track their luck!</h3>
                        <p> You can track you student's luck by viewing the history logs! You can see the number of times your students have appeared in the randomizer, as well as the number of times you used it. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- MODALS -->
<div id="loginModal" class="modal">
    <div class="modal-content center">
    	<h4>Log In</h4>
    	<form ng-submit="Login()" ng-controller="AuthenticationCtrl" method="get">

    		<div class="input-field">
    			<i class="material-icons prefix" style="line-height:46px;" >account_circle</i>
    			<input placeholder="username" type="text" id="name-input" ng-model="facultyUser.username" required="required">
    		</div>

    		<div class="input-field">
    			<i class="material-icons prefix" style="line-height:46px;">vpn_key</i>
    			<input placeholder="password" type="password" id="password-input" ng-model="facultyUser.password" required="required">
    		</div>

    		<button class="btn waves-effect modal-action modal-close waves-light" type="submit">Log In</button>
    	</form>
    </div>
</div>

<div id="signupModal" class="modal">
    <div class="modal-content center">
      <h4>Sign Up</h4>
      <form ng-submit="AddFacultyUser()" ng-controller="RegisterCtrl" autocomplete="off">
        <div class="row">
          <div class="input-field">
            <div class="col s12 m12 l4">
              <input placeholder="First Name" type="text" id="fname-input" ng-model="newFacultyUser.given_name" ng-keyup="check_fname()" required="required" pattern="^[A-Za-z][A-Za-z\-\s]+$">
            </div>
            <div class="col s12 m12 l4">
              <input placeholder="Middle Name" type="text" id="mname-input" ng-model="newFacultyUser.middle_name" ng-keyup="check_mname()" required="required" pattern="^[A-Za-z][A-Za-z\-\s]+$">
            </div>
            <div class="col s12 m12 l4">
              <input placeholder="Last Name" type="text" id="lname-input" ng-model="newFacultyUser.last_name" ng-keyup="check_lname()" required="required" pattern="^^[A-Za-z][A-Za-z\-\s]+$">
              <label for="lname-input">Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l4">
            <div class="input-field">
              <input placeholder="Username" type="text" id="nameinput" ng-model="newFacultyUser.username" ng-keyup="check_username()" required="required" pattern="[A-Za-z0-9_]*">
              <label for="nameinput" class="active" data-error="Username already taken!">Username&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
          </div>
          <div class="col s12 m6 l4">
            <div class="input-field">
              <input placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" type="password" id="passwordinput" ng-model="newFacultyUser.password" ng-change="check_pword()" required="required" minlength="8">
              <label for="password-input" data-error="Passwords do not match!" class="active">Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
          </div>
          <div class="col s12 m6 l4">
            <div class="input-field">
              <input type="password" id="confirmpassword" ng-model="newFacultyUser.confirm" ng-change="check_cpword()" required="required" minlength="8" disabled="disabled">
              <label for="password-input" data-error="Passwords do not match!">Re-Enter Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l6">
            <div class="input-field">
              <input placeholder="Employee ID" type="text" class="employee-counter" id="employeeinput" ng-model="newFacultyUser.employee_id" ng-keyup="check_employee_id()" required="required" minlength="10" length="10" maxlength="10" pattern="[0-9]*">
              <label for="employeeidinput" class="active" data-error="Employee ID already used!">Employee ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
          </div>
          <div class="col s12 m6 l6">
            <div>
        		  <select id="classificationinput" class="input-field" ng-model="newFacultyUser.classification" ng-change="check_clasfn()">
          			 <option value="" ng-selected="true" selected="selected" disabled="disabled">Classification</option>
          			 <option value="Instructor I">Instructor I</option>
          			 <option value="Instructor II">Instructor II</option>
          			 <option value="Instructor III">Instructor III</option>
          			 <option value="Instructor IV">Instructor IV</option>
          			 <option value="Instructor V">Instructor V</option>
          			 <option value="Instructor VI">Instructor VI</option>
          			 <option value="Assistant Professor I">Assistant Professor I</option>
          			 <option value="Assistant Professor II">Assistant Professor II</option>
          			 <option value="Assistant Professor III">Assistant Professor III</option>
          			 <option value="Assistant Professor IV">Assistant Professor IV</option>
          			 <option value="Assistant Professor V">Assistant Professor V</option>
          			 <option value="Assistant Professor VI">Assistant Professor VI</option>
          			 <option value="Professor I">Professor I</option>
          			 <option value="Professor II">Professor II</option>
          			 <option value="Professor III">Professor III</option>
          			 <option value="Professor IV">Professor IV</option>
          			 <option value="Professor V">Professor V</option>
          			 <option value="Professor VI">Professor VI</option>
        		  </select>
            </div>
          </div>
        </div>
          <button id="submit-button" type="submit" class="btn waves-effect waves-light disabled" disabled>Create an Account</button>
      </form>
    </div>

    <script>
        $(document).ready(function() {
            $('.button-collapse').sideNav();

            $('select').material_select();

            $('.modal-trigger').leanModal({
                  dismissible: true,
                  opacity: .5,
                  in_duration: 300,
                  out_duration: 200
            });
        });
    </script>
</div>
