<div>
	<!-- NAV BAR -->
	<div ng-controller="CourseCtrl" data-ng-init="Get_User()">
	<!-- NAV BAR -->
	<div class="navbar">
		<nav>
		 <div class="nav-wrapper container">
			<!-- SIDE NAV BUTTON -->
		 	<ul>
		    <li><a data-activates="slide-out" class="showsidenav" onclick="$('.showsidenav').sideNav()"><i class="material-icons">reorder</i></a></li>
		  </ul>

			<!-- REGINYZR LOGO -->
			<div class="center">
			 	<a ng-click="redirect('/home')" class="brand-logos"> <img id="logo" src="../assets/img/text2.png"></a>
			</div>

	    <!-- SIDE NAV  -->
			<div id="slide-out" class="side-nav center" data-ng-init="Get_Course()">
				<img id="sidenav-logo" src="../assets/img/logo-2.png">
					<!-- USER NAME -->
					<div ng-repeat="info in faculty_user_info">
						<h5 class="teal-text text-lighten-2">{{info.given_name}} {{info.middle_name}} {{info.last_name}}</h5>
					</div>
					<!-- LIST OF CLASSES -->
					<div ng-repeat="course in faculty_user_courses">
						<div ng-repeat="lecture in course.lecture">
							<a ng-href="#/class" class="waves-effect waves-teal btn-flat blue-text text-lighten-2" ng-click="Get_Selected_Lecture(course.id, course.code, course.title, course.description, lecture.name)">{{course.code}} {{lecture.name}}</a></li>
						</div>
					</div>
					<div class="center">
						<a ng-click="redirect('/logs')" class="waves-effect waves-teal btn-flat blue-text text-lighten-2">Logs</a>
					</div>
					<!-- LOG OUT BUTTON -->
					<div class="center" ng-controller="HomeCtrl">
						<a ng-click="Logout()" onclick="$('.showsidenav').sideNav('hide');" id="logout-button" class="waves-effect waves-teal btn-flat blue-text text-lighten-2">Log Out</a>
					</div>
				</div>
		  </div>
		</nav>
	</div>

		<main >


			<div id="logs" ng-controller="CourseCtrl" data-ng-init="Get_Course()">
				<div id="logs-content" class="container">
					<h4 class="center">Volunteer Logs</h4>
					<div ng-repeat="course in faculty_user_courses">
						<div id="{{course.id}}" class="row" >
							<h5>{{course.code}}</h5>
							<div class="col s12 m12 l6" id="lec-class-lab"></div>
							<div class="col s12 m12 l6" id="lec-class-student"></div>
							<hr>
						</div>
					</div>
				</div>
			</div>

		</main>
</div>
<script type="text/javascript" src="../bower_components/Materialize/bin/materialize.js"></script>
<script type="text/javascript" src="../assets/js/jquery.js"></script>
<script type="text/javascript" src="../assets/js/logs.js"></script>
<script src="../assets/js/highcharts.js"></script>
<link type="text/css" rel="stylesheet" href="../assets/stylesheets/logs.css">
