<div>
	<nav class="teal">
		<ul id="slide-out" class="side-nav">
	    	<li><a href="#!">Edit Profile</a></li>
	     	<li><a href="#!">Second Link</a></li>
	     	<li><button class="waves-effect waves-light btn centered" id="logout-btn" ng-click="logout()">logout</button></li>
  	  	</ul>
   	 <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu marginize"></i></a>
	</nav>
	
	<div ng-controller="RandomCtrl">
		<div class="carousel">	
			<div class="carousel-item" ng-repeat="student in students track by $index">
			    <img src="../assets/img/user.png">
			    <p style="text-align: center;"> 
		    		{{student.last_name}}, {{student.given_name}} {{student.middle_name}} <br>
		    		{{student.student_number}}
	   	 		</p>
			</div>
  		</div>
	</div>
</div>
<script>
	 $(function(){
     	setTimeout(function(){
     		$('.carousel').carousel();
     	}, -100);
 	});
	setTimeout(function(){
		$('.carousel').carousel('next');
	}, 1000);
</script>