<div>
		<!-- NAV BAR -->
		<div class="navbar-fixed">
		<nav>
		 	<div class="nav-wrapper container">
		 		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		 		<ul id="nav-mobile">
		 			<li><a href="/" class="brand-logos"><img id="logo" src="img/text2.png"></a></li>
		    	</ul>

		    	<ul id="nav-mobile" class="right hide-on-med-and-down nav-right">
				    <li><a ng-href="/#/">Home</a></li>
		    	</ul>

	    		<!-- SIDE NAV (WHEN VIEWED IN SMALLER SCREENS) -->

		    	<ul id="mobile-demo" class="side-nav">
		    		<div class="logo-img-side"><a href="#">
		    			<img id="logo-img-side" src="img/logo-2.png">
		    		</a></div>
		    		<li><a href="#" class="modal-trigger">Home</a></li>
		    	</ul>
		    </div>
		</nav>
		</div>

		<main>
			<div id="rand-not-user" class="container">
			<div class="row">
				<!-- COLUMN FOR FORM -->
				<h4 class="center">RANDOMIZE</h4>
				<div class="col s12 m5 l5">
					<div class="container center">
						<form onSubmit="return false;" id="form">
							<div class="section">
								<div class="row">
									<div class="input-field col s12">
										<h5>Enter names manually</h5>
									</div>
								</div>
								<div class="row">
									<form class="col s12">
											<div class="input-field
											tooltipped"
							    	 		data-position="right"
							    	 		data-delay="50"
							    	 		data-tooltip="No numbers or special characters!">
												<input id="input" id="disabled" type="text" pattern="^[A-Za-z][A-Za-z\,\.\'\-\s]*$">
												<label for="input" >Name</label>
											</div>
									</form>
								<div class="row">
									<div class="input-field col s12">
										<button id="add" class="btn waves-effect waves-light grey darken-2" disabled>Add Name</button>
									</div>
								</div>
								</div>
					  		</div>


					  		<div class="section">
					  			<h5 id="add-space">Or input a file <a href="#help-file" class="modal-trigger"><sup class="small red-text">[?]</sup></a></h5>
					  			<!-- FILE READING -->
							    <div class="file-field input-field">
							      <div class="btn grey darken-2">
							        <span><i class="material-icons">file_upload</i></span>
							        <input type="file" name="file" id="file">
							      </div>
							      <div class="file-path-wrapper">
							        <input class="file-path validate" type="text" id="text-file-area">
							      </div>
							    </div>
							</div>

							<div class="section">
				  				<button id="clear" class="btn waves-effect waves-light grey darken-2">Clear All Names
				  				</button>
				  			</div>
				  			<div class="section">
				  				<a href="#modal1" class="modal-trigger">
				  				<button id="rand" class="btn waves-effect waves-light">
				  					Randomize
					  				<i class="material-icons right">assignment</i>
					  			</button>
					  			</a>
					  		</div>
						</form>
					</div>
				</div>

				<!-- COLUMN FOR TABLE -->
				<div id="table-names" class="col s12 m7 l7">
						<p></p>
						<table class="centered bordered highlight">
							<thead>
								<tr>
									<th><h5>Student List</h5></th>
									<th></th>
								</tr>
							</thead>
							<tbody id="table">
							</tbody>
						</table>
				</div>

			</div>
			</div>

			<div id="help-file" class="modal">
				<div class="modal-content container">
					<p>Make sure your .txt file only contains one name per line!</p>
					<p>image sample image here</p>
					<p class="center"><button id="closeModal" class="btn waves-effect waves-light">Got it</button></p>
				</div>
			</div>

		</main>

		<footer class="page-footer white-text">
			<div class="container">
				<div class="row center">
					<div class="col s12 m12 l7">
						<p> CMSC 128 AB-7L. 2016. </p>
					</div>
					<div class="col s12 m12 l5">
						<p> All rights reserved. </p>
					</div>
				</div>
			</div>
		</footer>

		<!-- DIV FOR RESULTS -->
		<div class="modal" id="modal1">
			<div class="modal-content center">
				<div id="results-container">
					<div class="center" id="content">
						<h3>You are chosen</h3>
						<br>
						<h3 id="lettersContainer"></h3>
						<div id="buttons-bottom" class="row center container">
							<div class="col s12 m6 l6"><button id="closeModal1" class="btn waves-effect waves-light">Close</button></div>
							<div class="col s12 m6 l6"><button id="rand_again" class="btn waves-effect waves-light">Randomize</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../assets/js/randomize_notuser.js"></script>

		<script>
		  	//other functions are in randomize_notuser.js

			$('input[id=input]').keyup(function(){
				tooltipAlert();
			});

			//for enabling and disabling add button
			function tooltipAlert(){
				var delButton = $('<span class="tooltiptext">Tooltip text</span>');
				var string = document.getElementById('input').value.trim();
				if(string.match(/^[A-Za-z][A-Za-z\,\.\'\-\s]*$/)){
					$('#add').attr('disabled', false);
				}else{
					$('#add').attr('disabled', true);
				}
			}
		</script>
</div>
<link type="text/css" rel="stylesheet" href="../assets/stylesheets/randomize_notuser.css">

