<div>
	<!-- NAV BAR -->
	<div class="navbar">
		<nav ng-controller="CourseCtrl">
		 	<div class="nav-wrapper container">
				<!-- SIDE NAV BUTTON -->
				<ul>
		    	<li><a data-activates="slide-out" class="showsidenav"><i class="material-icons">reorder</i></a></li>
		    </ul>
				<!-- SIDE NAV -->
				<div id="slide-out" class="side-nav center" data-ng-init="Get_Course()">
					<img id="sidenav-logo" src="../assets/img/logo-2.png">
					<!-- USER NAME -->
					<div ng-repeat="info in faculty_user_info">
						<h5 class="teal-text text-lighten-2">{{info.given_name}} {{info.middle_name}} {{info.last_name}}</h5>
					</div>
					<!-- LIST OF COURSES -->
					<div ng-repeat="course in faculty_user_courses">
						<div ng-repeat="lecture in course.lecture">
							<a href="#/class" class="waves-effect waves-teal btn-flat blue-text text-lighten-2" ng-click="Get_Selected_Lecture(course.id, course.code, course.title, course.description, lecture.name)">{{course.code}} {{lecture.name}}</a></li>
						</div>
					</div>
					<!-- LOG OUT BUTTON -->
					<div class = "center">
						<a ng-click="Logout()" ng-controller="HomeCtrl" onclick="$('showsidenav').sideNav('hide');" id="logout-button" class="waves-effect waves-teal btn-flat blue-text text-lighten-2">Log Out</a>
					</div>
				</div>

				<!--  HOME BUTTON -->
		    <ul id="nav-mobile" class="right hide-on-med-and-down nav-right">
				  <li><a ng-click="redirect('/home')">Home</a></li>
		    </ul>

				<!-- REGINYZR LOGO -->
				<div class="center">
			 		<a ng-click="redirect('/home')" onclick="$('.showsidenav').sideNav('hide');" class="brand-logos"> <img id="logo" src="../assets/img/text2.png"></a>
			  </div>
		  </div>
		</nav>
	</div>
	<!-- END OF NAV BAR -->

		<main id="brief-intro-container">
			<div class="container col s12 m12" style="padding-top: 3%;">
				<div class="row">
					<div id="settings-randomize">
						<div class="row">

							<div class="col s12 m4 l4" ng-controller="SectionCtrl" data-ng-init="Get_Class_List()">
								<div id="course-info" class="card-panel custom lighten-1">
									<div ng-repeat="s_info in section_info">
										<div class="row">
											<h4>{{s_info.course_code}} {{s_info.section_name}}</h4>
										</div>
										<div class="row">
											<strong>Title</strong>: {{s_info.course_title}}
										</div>
										<div class="row">
											<strong>Description</strong>: {{s_info.course_description}}
										</div>
									</div>
								</div>
							</div>

							<div class="col s12 m8 l8">
								<div class="card-panel custom lighten-1 teal-text">
									<form ng-controller="RandomCtrl" ng-submit="Randomize()" data-ng-init="GetLabs()">
										<div class="row">
											<div class="col s8" style="padding-left: 15%;">
												<h5>{{section_name}}</h5>
											</div>
											<div class="col s1">
												<input id="whole" type="number" name="whole" max="{{countWhole}}" min="0" placeholder="0" value="0" ng-model="counts.whole" ng-init="counts.whole=0"></input>
											</div>
										</div>


										<div class="row" ng-repeat="labsection in labdata">
											<div class="col s8">
												<h6>{{section_name}}-{{labsection.code}}</h6>
											</div>
											<div class="col s1">
												<input class="lsections" type="number" name="onel" max="{{labsection.count}}" min="0" placeholder="0" value="0"  ng-model="counts[labsection.code]" ng-init="counts[labsection.code]=0"></input>
											</div>
										</div>


										<div class="center"><button class="btn waves-effect waves-teal" type="submit"><i class="material-icons right">shuffle</i> Randomize!</button></div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</main>

		<script type="text/javascript">
				document.getElementById('whole').onchange = function(){
					var wholevalue = document.getElementById('whole').value;

					if(wholevalue != 0){
						$(".lsections").attr("disabled",true);

					}else{
						$(".lsections").attr("disabled",false);
					}

				}
		</script>
	</body>
</div>

<!-- SCRIPTS -->
<script type="text/javascript" src="../assets/js/home.js"></script>
<script type="text/javascript" src="../assets/js/default.js"></script>

<link type="text/css" rel="stylesheet" href="../assets/stylesheets/settings-randomize.css">
