<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<body>
	 <!-- 
	 NAV BAR
	 	- will contain logo and name of site (left side)
		- log in and sign up buttons (right side)
	 -->
	<div id="guest-navbar">
		<nav>
		  	<div id="navbar-contents">
				<div id="site-name">
					<a href="#" class="brand-logo">Logo</a>
				</div>

		  		<ul id="nav-mobile" class="right hide-on-med-and-down">
		  			<li><a href="">Log In</a></li>
		  			<li><a href="">Sign Up</a></li>
		  		</ul>
		  	</div>
		</nav>
	</div>

	 <!-- 
	 BODY
	 	- will contain brief summary, information
	 	- mostly hard coded
	 -->
	<div id="welcome-body">
		<div>
			<div id="info-img">
				<img src="">
			</div>
			<div id="info-text">
				<h5>Lorem Ipsum</h5>
			</div>
			<div id="info-buttons">
				<!-- buttons
						- join now
						- get started
				-->
			</div>
		</div>
	</div>

	<!--
	BODY - EXTRA CONTENTS
		- how does it work
		- extra stuff, more information
		- possibly parallax
	-->

	<div id="extra-contents">
		<!-- HARD CODED -->
	</div>

	<!--
	MODALS - forms (login and register)
	-->

	<div id="modalLogin">
		<div>
			<form action="" method="POST">
				<div id="email-input">
					<input type="text" name="user-email"> <!-- or whatever the primary key is -->
				</div>
				<div id="password-input">
					<input type="password" name="user-password">
				</div>
				<div id="login-button">
					<button type="submit">Log In</button>
				</div>
			</form>
		</div>
	</div>

	<div id="modalSignup">
		<div>
			<form action="" method="POST">
				<div id="email-input">
					<input type="text" name="user-email"> <!-- primary key -->
				</div>
				<div id="password-input">
					<input type="password" name="user-password">
				</div>
				<div id="other-input">
					<input type="text" name="user-fname">
						<!--
							OTHER INFO
						-->
				</div>
				<div id="signup-button">
					<button type="submit">Sign Up</button>
				</div>
			</form>
		</div>
	</div>

</body>
</html>