body {
	background-color: #E6EBE0;
}

#details-container {
	margin-top: 1%;
	margin-bottom: 2%;
	background-color: white;
	padding-bottom: 2%;
	padding-top: 2%;
	box-shadow: 3px 3px 3px #888888;
	max-height: calc(100vh - 74px - 76.5px);
	min-height: calc(100vh - 74px - 76.5px);
}

#details-container-text {
	padding: 10px;
	margin: 50px;
	font-family: header-text-2;
}

