.sortorder:after {
  	content: '\25b2';
}
.sortorder.reverse:after {
  	content: '\25bc';
}

main{
	margin-bottom: 0;
}

table tbody{
   overflow: auto;
   height: 100px;
}

.admintable1{
    height: 350px;
	overflow: auto;
}

#logouttable{
    height: 350px;
	overflow: auto;
}

#logintable{
    height: 350px;
	overflow: auto;
}