body {
	background-color: #E6EBE0;
	max-height: 100vh;
}

#main-container {
	min-width: calc(100% - 20%);
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: white;
	padding-bottom: 1%;
	padding-top: 1%;
	box-shadow: 3px 3px 3px #888888;
	max-height: calc(100vh - 64px - 66.5px);
	min-height: calc(100vh - 64px - 66.5px);
}

.container {
	width: 85% !important;
	max-height: calc(100vh - 64px - 80px);
}

#add-button-nav {
	position: relative;
	float: right;
}

#table-container {
	max-height: calc(100vh - 120px - 120px);
	overflow: auto;
	overflow-x: hidden; 
}