body {
	max-height: 100vh;
}

#main-container {
	min-width: calc(100% - 20%);
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: white;
	padding-bottom: 1%;
	padding-top: 1%;
	box-shadow: 3px 3px 3px #888888;
	max-height: calc(100vh - 64px - 66.5px);
}

#main-container .container{
	overflow-y: auto;
	overflow-x: hidden;
}

.container {
	width: 85% !important;
	max-height: calc(100vh - 64px - 80px);
}

#add-button-nav {
	position: relative;
	float: right;
	font-family: nav-side;
}

#table-container {
	max-height: calc(100vh - 120px - 120px);
	overflow: auto;
	overflow-x: hidden;
}

#lab-sections button{
	background-color: transparent;
	border: none;
}

button i{
	color: black;
	vertical-align: text-bottom;
}

#delete-modal a, #delete-lab-modal a{
	margin-right: 2%;
}

#delete-modal, #delete-lab-modal{
	margin-top: 5%;
	padding-bottom: 2%;
}

#edit-modal button{
	margin-bottom: 5%;
}