nav {
	background-color: #64706c;
	margin: 0px;
}

main {
 	flex: 1 0 auto;
	background-color: #b5b5b7;
	margin-bottom: -2%;
}

footer.page-footer{
	padding: 2px;
	background-color: #677077;
}