#brand{
	width: 100px;
	height: 64px;
}

table {
    border-collapse:collapse;
    padding: 0px;

}

.logo-img a:hover, .logo-img-side a:hover{
	background-color: initial;
}

/* BRIEF INTRO */


#brief-intro-container{
	background: url("../img/cover-f.jpg") no-repeat center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;	
}

.center-label{
	/*display: block;*/
    text-align: center;
    line-height: 150%;
    font-size: .85em;
    display: inline-block;
}

#nav-container{
	margin: 20px auto;
}

#brief-intro{
	background-color: rgba(250,255,249, 0.8);
}

#brief-intro #content{
	padding: 5% 0 3% 10%;
}

#brief-intro #content a{
	margin-right: 20px;
	background-color: #50514F;
}

#intro-logo{
	height: 220px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

/* MORE INFO - HOW DOES IT WORK */

#more-info, #get-started{
	background-color: #FCF4D9;
}

#more-info #content{
	padding: 3% 0 3% 0;
}

#content h4{
	font-size: 50px;
	text-align: center;
	padding: 0 0 1% 0;
}

#more-info #content i{
	font-size: 80px;
}

#more-info #content .caption{
	font-size: 30px;
	font-weight: 300;
	margin-bottom: -5px;
}

/* MORE INFO - WHY SIGN UP */
#more-info-2 img{
	height: 250px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#more-info-2{
	background-color: #F6F7F8;
	padding-top: 3%; 
	padding-bottom: 3%;
}

.reason{
	visibility: hidden;
}

#reason-1, #reason-2, #reason-3{
	padding-bottom: 30px;
}

#p1, #p2, #p3{
	font-family: reasons;
	font-size: 20px;
	text-align: center;
}
