nav {
	background-color: #935347;
	margin: 0px;
}

main {
 	flex: 1 0 auto;
	background-color: #c7ad88;
	margin-bottom: -2%;
}

footer.page-footer{
	padding: 2px;
	background-color: #64706c;
}

/* MODALS */