nav {
	background-color: #6B5A9C;
	margin: 0px;
}

main{
 	flex: 1 0 auto;
	background-color: #B4ADC6;
	margin-bottom: -2%;
}

#home-content .tabs, #home-content .custom.lighten-1{
	background-color: #DBDBDC !important;
}

footer.page-footer{
	padding: 2px;
	background-color: #090121;
}