.sortorder:after {
  	content: '\25b2';
}
.sortorder.reverse:after {
  	content: '\25bc';
}

table tbody{
   overflow: auto;
   height: 100px;
<<<<<<< HEAD
}
=======
}
>>>>>>> fc512a54f3971bc075ca12fc617e0cf7e33a6257
