#page-not-found{
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: white;
  padding-bottom: 2%;
  overflow-x: hidden;
  box-shadow: 3px 3px 3px #888888;
}

h3{
	font-family: header-text-2;
	font-size: 40px;
	text-align: center;
	padding-top: 2%;
}

h4{
	font-family: header-text;
	font-size: 50px;
}

#page-not-found img{
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}