.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: black;
  will-change: left, right;
}

.tabs {
  background-color: #CCDDD8 ;
  overflow: hidden;
}

.custom.lighten-1 {
  background-color: #CCDDD8 !important;
}

.custom-text.text-lighten-1 {
  color: #CCDDD8 !important;
}

.custom {
  background-color: #629D95 !important;
}

.custom-text {
  color: #629D95 !important;
}

.custom.darken-1 {
  background-color: #028090 !important;
}

.custom-text.text-darken-1 {
  color: #028090 !important;
}

.waves-effect.waves-custom .waves-ripple {
  background-color: rgba(150, 163, 159, 0.7);
}

.side-nav {
  position: fixed;
  width: 250px;
  left: -105%;
  top: 0;
  margin: 0;
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: left;
}

/* label color */
   .input-field label {
     color: black;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: black;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
    color: black;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   color: black;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   color: black;
   }
   
    /* label focus color */
   .input-field input[type=password]:focus + label {
     color: black;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   color: black;
   }
   /* valid color */
   .input-field input[type=password].valid {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   color: black;
   }
   /* invalid color */
   .input-field input[type=password].invalid {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   color: black;
   }
   
   /* label focus color */
   .input-field input[type=email]:focus + label {
     color: black;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   color: black;
   }
   /* valid color */
   .input-field input[type=email].valid {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   color: black;
   }
   /* invalid color */
   .input-field input[type=email].invalid {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   color: black;
   }
   
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: black;
   }

h3{
  font-family: reasons;
  font-size: 40px;
}

h5{
  font-family: header-text;
  font-size: 30px;
}

#profile i{
  font-size: 30px;
}