#rand-not-user{
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: white;
  padding-bottom: 2%;
  padding-top: 2%;
  }

#intro-logo{
    height: 60px;
    width: 60px;
}
#navbar{
	height: 100px;
}

.center{
    margin-top: 10%

#input{
	text-align: center;
}

td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.logo-img a:hover, .logo-img-side a:hover{
    background-color: initial;
}

#brand{
    width: 100px;
    height: 64px;
}

.modal{
    width: 700px;
}