#intro-logo{
    height: 60px;
    width: 60px;
}
#navbar{
	height: 100px;
}

.center{
    margin-top: 10%
}

#input{
	text-align: center;
}

td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*#navbar li {    
    float: left
}


#navbar li a {
    
    line-height: 100px;
    display: block
}
*/
.logo-img a:hover, .logo-img-side a:hover{
    background-color: initial;
}

#brand{
    width: 100px;
    height: 64px;
}