#logo{
	height:100px;
	width: 100px;
}

#navbar{
	height: 100px;
}

.center{
	padding-top: 30%;
}

#input{
	text-align: center;
}

td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


#navbar li {    
    float: left
}


#navbar li a {
    
    line-height: 100px;
    display: block
}